@using BlazorTimeline.Client.Models
@using BlazorTimeline.Client.Components.Timeline

<div class="timeline-row" @onclick="OnClick">
    <div class="driver-info-container">
        <DriverVehicleInfoTile Route="Route" />
    </div>
    <div class="deliveries-container">
        @for (var i = 0; i < Route.Deliveries.Count; i++)
        {
            var delivery = Route.Deliveries[i];
            var previousDelivery = i > 0 ? Route.Deliveries[i - 1] : null;
            var colorClass = TimelineHelper.GetDeliveryStatusColorClass(delivery, previousDelivery);

            <DeliveryTile Delivery="delivery" StartOfDay="Route.PlannedStartTime.Date" ColorClass="@colorClass" />
        }
    </div>
</div>

@code {
    [Parameter]
    public Route Route { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
